.container {
  background-color: bisque;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo-img,
.user-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}
